QSlider::groove:horizontal {
    background-color: #E0E0E0;
    border: 0px solid #424242;
    height: 10px;
    border-radius: 4px;
}

QSlider::sub-page:horizontal {
    background: #0078D7;
    border: 1px solid #0078D7;
    height: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right-style: none;
}

QSlider::add-page:horizontal {
    background: #fff;
    border: 1px solid #777;
    height: 10px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    border-left-style: none;
}

QSlider::handle:horizontal {
    background-color: #0078D7;
    border: 2px solid #0078D7;
    width: 16px;
    height: 20px;
    line-height: 20px;
    margin-top: -5px;
    margin-bottom: -5px;
    border-radius: 10px;
}



QSlider::sub-page:horizontal:disabled {
    background: #bbb;
    border-color: #999;
}

QSlider::add-page:horizontal:disabled {
    background: #eee;
    border-color: #999;
}

QSlider::handle:horizontal:disabled {
    background: #eee;
    border: 1px solid #aaa;    
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}